<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/dashboardaddproduct.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="nav-list">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/reigster-product">Products</a></li>
          <li><a href="/orders">Orders</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Welcome to the Dashboard, {{user.name}}!</h1>
      <!-- Your dashboard content here -->
    </div>
  </body>
</html>